body {
    padding: 0;
    margin: 0;
}

div {
    padding: 0;
    margin: 0;
}

img {
    height: 10vh;
    width: auto;
}


/*Nav controls*/
.circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: white;
}

.moveLeftArrow {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moveRightArrow {
    position: absolute;
    left: 90vw;
    top: 0;
    height: 100vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moveDownArrow {
    position: absolute;
    top: 90vh;
    left: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moveUpArrow {
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Panes*/
.center {
    background: #E34A28;
}

.left {
    background: #9B59B6;
}

.right {
    background: #2980B9;
}

.bottom {
    background: #F39C12;
}

.top {
    background: #2ECC71;
}

.pane {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Containters*/
.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 60vw;
    position: relative;
}

.centerImage {
  transition: opacity 1s;
}


.centerAppear {
    opacity: 0;
    transition: all 1s;
    font-family: monospace;
    color: white;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
}

.centerContainer:hover .centerImage{
     /*opacity: 0;*/
}

.centerContainer:hover .centerAppear{
     opacity: 1;
     transform: translate(-50%, 8vh);
}
